<div class="loginContainer">
    <div class="loginForm">
        <div class="logoContainer">
            <img src="../../../assets/LOGO BLANCO.jpg" alt="" class="logo">
        </div>
        <label class="field a-field a-field_a2">
            <input class="field__input a-field__input" placeholder="ejemplo@mail.com" required>
            <span class="a-field__label-wrap">
              <span class="a-field__label">Correo electrónico</span>
            </span>
        </label>
        <label class="field a-field a-field_a2">
            <input class="field__input a-field__input" type="password" placeholder="-" required>
            <span class="a-field__label-wrap">
              <span class="a-field__label">Contraseña</span>
            </span>
        </label>
      
        <div class="buttonContainer">
            <br>
            <button class="mainButton">Entrar</button>
        </div>
        
    </div>
</div>