<div class="modal fade" [config]="{ignoreBackdropClick:true, backdrop: false}" bsModal #modalLoading="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="background-color: rgba(0,0,0,0)!important; border: none!important;">
        <div class="modal-body">
        <div style="width: 100%; text-align: center;">
                <img src="../../../assets/loading.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>